* {
  font-family: "Outfit", sans-serif;
}
.headingL {
  font-size: 38px;
  font-weight: 300;
  letter-spacing: -0.5px;
}
.headingSmSc {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.31px;
}
.headingM {
  font-size: 24px;
  font-weight: 300;
}
.headingS {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
.headingXS {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
.bodyM {
  font-size: 15px;
  font-weight: 300;
}
.bodyS {
  font-size: 13px;
  font-weight: 300;
}
